# This file contains various data visualizations using Plotly

### Plotly with Python offers interactive maps and graphing options

With Plotly, the visualizations can also be hosted on a dashboard online. However, I am using Github so those who are interested can see the code behind the graphs

In [1]:
# Getting the needed libraries for the tasks at hand

import pandas as pd
from pandas import Series, DataFrame

import seaborn as sns

# Useing this one
import plotly
plotly.tools.set_credentials_file(username='CoreyBryant', api_key='xhyucfe7aa') #Only needed for online hosting

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True) # run at the start of every ipython notebook to use plotly.offline

from plotly.graph_objs import *

## An interactive map of the USA is displayed first

In [2]:
# Loading the dataset that has already been cleaned and processed
df = pd.read_csv('organic_farms_2011.csv')

In [3]:
# This is all the code that is required to set up the USA map, and plot the data inside the map
# If not interested, feel free to scoll past for the interactive map!

# Data source: USDA, Economic Research Service, based on information from USDA-accredited State and private organic certifiers.  

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['States'] + '<br>' +\
    'Certified Operations '+df['Number of certified operations*']+'<br>'+\
    'Crops '+df['Crops']+'<br>'+\
    'Pasture & Rangeland '+df['Pasture & rangeland']+'<br>'+\
    'Total ' + df['Total']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = True,
        locations = df['Code'],
        z = df['Total'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Total Acres"
        )
    ) ]

layout = dict(
        title = '2011 State Organic Farm Acreage by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

fig = dict(data=data, layout=layout)

iplot(fig)

### Let's simulate the financial gain and loss of 4 companies.

In [4]:
# Importing another module for this next visulaztion with Plotly
import cufflinks as cf

In [5]:
# Creating a dataset to be used

dataset = cf.datagen.lines(4, columns = ['All Tek Company', 'Data Driver',
                                        'Paper and Pencil', 'All Brains'])

dataset[:] = dataset[:] * 100


# Let's take a sneak peek at our random dataset
dataset.head()

            All Tek Company  Data Driver  Paper and Pencil  All Brains
2015-01-01       137.632720  -124.539646        -88.676392   -0.193408
2015-01-02       177.438726   -81.584834       -222.790145   13.176973
2015-01-03       195.494692  -123.690313       -292.989625   62.905726
2015-01-04       332.432473   -76.557190       -232.643615  272.955290
2015-01-05       301.639623  -218.499620        -83.809729  198.592428

In [6]:
# Plottin the interactive graph
dataset.iplot(title='Company Gains and Losses', xTitle = 'Month', yTitle = 'Amount in Thousands')

### Let's create a dataset so make an interactive piechart!

In [7]:
# Generating random dataset for pie chart
# If dataset exists, all that would be needed is to use .groupyby() function to add data up by catagories

pie = cf.datagen.pie()
pie.head()

   labels  values
0  JJX.GJ      39
1  QPX.KE      46
2  URX.OV      18
3  SVL.LW       9
4  BRS.ZM      37

In [8]:
pie.iplot(kind = 'pie', title= 'East Regional Scores', labels = 'labels', values = 'values', textinfo = 'value', colorscale = 'reds')

### Next let's make a donut piechart for fun

In [9]:
# Generating another ranodom dataset
pie2 = cf.datagen.pie()
pie2.head()

   labels  values
0  BXP.SD      52
1  ASJ.WC       4
2  XVG.SX      13
3  JSQ.BY      89
4  LDA.FK      39

In [10]:
pie2.iplot(kind = 'pie', title= 'West Regional Scores', labels = 'labels', values = 'values', textinfo = 'value',
           colorscale = 'blues', hole = .8)

### Let's do a heatmap visualization next!

### This dataset will be using the airplane dataset from seaborn

In [11]:
# Loading the dataset

flight_dframe = sns.load_dataset('flights')
flight_dframe.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [12]:
# Plotting the interactive heatmap

data = [ dict(
        type='heatmap',
        colorscale = scl,
        autocolorscale = False,
        x = flight_dframe['year'],
        z = flight_dframe['passengers'].astype(float),
        y = flight_dframe['month'],
        colorbar = dict(
            title = "Number of Passengers"
        )
    ) ]


flight_dframe.iplot(data= data, kind = 'heatmap', colorscale='spectral', xTitle= 'Year', yTitle = 'Month', 
                    title= 'Busiest times to Fly')